<a href="https://colab.research.google.com/github/Henrymelendez/DS-Unit-2-Linear-Models/blob/master/module2-regression-2/LS_DS_212_assignment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Lambda School Data Science

*Unit 2, Sprint 1, Module 2*

---

# Regression 2

## Assignment

You'll continue to **predict how much it costs to rent an apartment in NYC,** using the dataset from renthop.com.

- [ ] Do train/test split. Use data from April & May 2016 to train. Use data from June 2016 to test.
- [ ] Engineer at least two new features. (See below for explanation & ideas.)
- [ ] Fit a linear regression model with at least two features.
- [ ] Get the model's coefficients and intercept.
- [ ] Get regression metrics RMSE, MAE, and $R^2$, for both the train and test data.
- [ ] What's the best test MAE you can get? Share your score and features used with your cohort on Slack!
- [ ] As always, commit your notebook to your fork of the GitHub repo.


#### [Feature Engineering](https://en.wikipedia.org/wiki/Feature_engineering)

> "Some machine learning projects succeed and some fail. What makes the difference? Easily the most important factor is the features used." — Pedro Domingos, ["A Few Useful Things to Know about Machine Learning"](https://homes.cs.washington.edu/~pedrod/papers/cacm12.pdf)

> "Coming up with features is difficult, time-consuming, requires expert knowledge. 'Applied machine learning' is basically feature engineering." — Andrew Ng, [Machine Learning and AI via Brain simulations](https://forum.stanford.edu/events/2011/2011slides/plenary/2011plenaryNg.pdf) 

> Feature engineering is the process of using domain knowledge of the data to create features that make machine learning algorithms work. 

#### Feature Ideas
- Does the apartment have a description?
- How long is the description?
- How many total perks does each apartment have?
- Are cats _or_ dogs allowed?
- Are cats _and_ dogs allowed?
- Total number of rooms (beds + baths)
- Ratio of beds to baths
- What's the neighborhood, based on address or latitude & longitude?

## Stretch Goals
- [ ] If you want more math, skim [_An Introduction to Statistical Learning_](http://faculty.marshall.usc.edu/gareth-james/ISL/ISLR%20Seventh%20Printing.pdf),  Chapter 3.1, Simple Linear Regression, & Chapter 3.2, Multiple Linear Regression
- [ ] If you want more introduction, watch [Brandon Foltz, Statistics 101: Simple Linear Regression](https://www.youtube.com/watch?v=ZkjP5RJLQF4)
(20 minutes, over 1 million views)
- [ ] Add your own stretch goal(s) !

In [0]:
%%capture
import sys

# If you're on Colab:
if 'google.colab' in sys.modules:
    DATA_PATH = 'https://raw.githubusercontent.com/LambdaSchool/DS-Unit-2-Applied-Modeling/master/data/'
    !pip install category_encoders==2.*

# If you're working locally:
else:
    DATA_PATH = '../data/'
    
# Ignore this Numpy warning when using Plotly Express:
# FutureWarning: Method .ptp is deprecated and will be removed in a future version. Use numpy.ptp instead.
import warnings
warnings.filterwarnings(action='ignore', category=FutureWarning, module='numpy')

In [0]:
import numpy as np
import pandas as pd

# Read New York City apartment rental listing data
df = pd.read_csv(DATA_PATH+'apartments/renthop-nyc.csv')
assert df.shape == (49352, 34)

# Remove the most extreme 1% prices,
# the most extreme .1% latitudes, &
# the most extreme .1% longitudes
df = df[(df['price'] >= np.percentile(df['price'], 0.5)) & 
        (df['price'] <= np.percentile(df['price'], 99.5)) & 
        (df['latitude'] >= np.percentile(df['latitude'], 0.05)) & 
        (df['latitude'] < np.percentile(df['latitude'], 99.95)) &
        (df['longitude'] >= np.percentile(df['longitude'], 0.05)) & 
        (df['longitude'] <= np.percentile(df['longitude'], 99.95))]

In [74]:
df.head()

   bathrooms  bedrooms  ... wheelchair_access common_outdoor_space
0        1.5         3  ...                 0                    0
1        1.0         2  ...                 0                    0
2        1.0         1  ...                 0                    0
3        1.0         1  ...                 0                    0
4        1.0         4  ...                 0                    0

[5 rows x 34 columns]

In [0]:
df['created'] = pd.to_datetime(df['created'])
df = df.set_index(df['created'])
df= df.sort_index()

In [0]:
df['total_rooms'] = df['bathrooms']+df['bedrooms']
df['bathrooms_ratio'] = df['bedrooms']/df['bathrooms']

In [77]:
train = df['2016-04-01':'2016-05-30']
test = df['2016-06-01':'2016-06-30']
train.shape, test.shape

((31839, 36), (16973, 36))

In [0]:
features = ['total_rooms', 'latitude']
target = 'price'
x_train=train[features]
x_test=test[features]
y_train =train[target]
y_test = test[target]

In [79]:
x_train.shape, x_test.shape

((31839, 2), (16973, 2))

In [80]:
y_test.shape,y_train.shape

((16973,), (31839,))

In [81]:
from sklearn.linear_model import LinearRegression
model = LinearRegression()
model.fit(x_train,y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [82]:
y_pred_train = model.predict(x_train)
y_pred_train

array([3024.12700784, 2158.59438625, 5437.41143986, ..., 2197.96235914,
       3865.63507161, 2180.19629958])

In [83]:
from sklearn.metrics import mean_absolute_error
mean_ae = mean_absolute_error(y_train,y_pred_train)
print(f'Train Error: {mean_ae:.2f} percentage points')

Train Error: 887.54 percentage points

In [84]:
y_pred1 = model.predict(x_test)
mean_ae1 = mean_absolute_error(y_test,y_pred1)
print(f'Test Error: {mean_ae1:.2f} percentage points')

Test Error: 905.05 percentage points

In [85]:
model.intercept_, model.coef_

(83632.69121650711, array([  810.2155725 , -2018.87040461]))

In [0]:
from sklearn.metrics import mean_absolute_error, mean_squared_error, r2_score

In [87]:
print('Test RSME:' ,mean_squared_error(y_test,y_pred1))
print('Test R2:', r2_score(y_test,y_pred1))
print('Test MAE:',mean_absolute_error(y_test,y_pred1))

Test RSME: 1792827.4351063878
Test R2: 0.4231611431844823
Test MAE: 905.0510633035366

In [88]:
print('Train RSME:' ,mean_squared_error(y_train,y_pred_train))
print('Train R2:', r2_score(y_train,y_pred_train))
print('Train MAE:',mean_absolute_error(y_train,y_pred_train))

Train RSME: 1791870.8168955606
Train R2: 0.42297637441461045
Train MAE: 887.5415574225408