<a href="https://colab.research.google.com/github/Henrymelendez/DS-Unit-2-Linear-Models/blob/master/module3-ridge-regression/LS_DS_213_assignment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Lambda School Data Science

*Unit 2, Sprint 1, Module 3*

---

# Ridge Regression

## Assignment

We're going back to our other **New York City** real estate dataset. Instead of predicting apartment rents, you'll predict property sales prices.

But not just for condos in Tribeca...

- [ ] Use a subset of the data where `BUILDING_CLASS_CATEGORY` == `'01 ONE FAMILY DWELLINGS'` and the sale price was more than 100 thousand and less than 2 million.
- [ ] Do train/test split. Use data from January â€”Â March 2019 to train. Use data from April 2019 to test.
- [ ] Do one-hot encoding of categorical features.
- [ ] Do feature selection with `SelectKBest`.
- [ ] Fit a ridge regression model with multiple features. Use the `normalize=True` parameter (or do [feature scaling](https://scikit-learn.org/stable/modules/preprocessing.html) beforehand â€”Â use the scaler's `fit_transform` method with the train set, and the scaler's `transform` method with the test set)
- [ ] Get mean absolute error for the test set.
- [ ] As always, commit your notebook to your fork of the GitHub repo.

The [NYC Department of Finance](https://www1.nyc.gov/site/finance/taxes/property-rolling-sales-data.page) has a glossary of property sales terms and NYC Building Class Code Descriptions. The data comes from the [NYC OpenData](https://data.cityofnewyork.us/browse?q=NYC%20calendar%20sales) portal.


## Stretch Goals

Don't worry, you aren't expected to do all these stretch goals! These are just ideas to consider and choose from.

- [ ] Add your own stretch goal(s) !
- [ ] Instead of `Ridge`, try `LinearRegression`. Depending on how many features you select, your errors will probably blow up! ðŸ’¥
- [ ] Instead of `Ridge`, try [`RidgeCV`](https://scikit-learn.org/stable/modules/generated/sklearn.linear_model.RidgeCV.html).
- [ ] Learn more about feature selection:
    - ["Permutation importance"](https://www.kaggle.com/dansbecker/permutation-importance)
    - [scikit-learn's User Guide for Feature Selection](https://scikit-learn.org/stable/modules/feature_selection.html)
    - [mlxtend](http://rasbt.github.io/mlxtend/) library
    - scikit-learn-contrib libraries: [boruta_py](https://github.com/scikit-learn-contrib/boruta_py) & [stability-selection](https://github.com/scikit-learn-contrib/stability-selection)
    - [_Feature Engineering and Selection_](http://www.feat.engineering/) by Kuhn & Johnson.
- [ ] Try [statsmodels](https://www.statsmodels.org/stable/index.html) if youâ€™re interested in more inferential statistical approach to linear regression and feature selection, looking at p values and 95% confidence intervals for the coefficients.
- [ ] Read [_An Introduction to Statistical Learning_](http://faculty.marshall.usc.edu/gareth-james/ISL/ISLR%20Seventh%20Printing.pdf), Chapters 1-3, for more math & theory, but in an accessible, readable way.
- [ ] Try [scikit-learn pipelines](https://scikit-learn.org/stable/modules/compose.html).

In [0]:
%%capture
import sys

# If you're on Colab:
if 'google.colab' in sys.modules:
    DATA_PATH = 'https://raw.githubusercontent.com/LambdaSchool/DS-Unit-2-Applied-Modeling/master/data/'
    !pip install category_encoders==2.*

# If you're working locally:
else:
    DATA_PATH = '../data/'
    
# Ignore this Numpy warning when using Plotly Express:
# FutureWarning: Method .ptp is deprecated and will be removed in a future version. Use numpy.ptp instead.
import warnings
warnings.filterwarnings(action='ignore', category=FutureWarning, module='numpy')

In [0]:
import pandas as pd
import pandas_profiling

# Read New York City property sales data
df = pd.read_csv(DATA_PATH+'condos/NYC_Citywide_Rolling_Calendar_Sales.csv')

# Change column names: replace spaces with underscores
df.columns = [col.replace(' ', '_') for col in df]

# SALE_PRICE was read as strings.
# Remove symbols, convert to integer
df['SALE_PRICE'] = (
    df['SALE_PRICE']
    .str.replace('$','')
    .str.replace('-','')
    .str.replace(',','')
    .astype(int)
)

In [0]:
# BOROUGH is a numeric column, but arguably should be a categorical feature,
# so convert it from a number to a string
df['BOROUGH'] = df['BOROUGH'].astype(str)

In [0]:
# Reduce cardinality for NEIGHBORHOOD feature

# Get a list of the top 10 neighborhoods
top10 = df['NEIGHBORHOOD'].value_counts()[:10].index

# At locations where the neighborhood is NOT in the top 10, 
# replace the neighborhood with 'OTHER'
df.loc[~df['NEIGHBORHOOD'].isin(top10), 'NEIGHBORHOOD'] = 'OTHER'

### Filter the Dataset into 01 ONE FAMILY DWELLING and the Price Range between 100,000, and 2,000,000

In [8]:
df_subset = df[df['BUILDING_CLASS_CATEGORY'] == '01 ONE FAMILY DWELLINGS']
df_subset = df_subset[(df_subset['SALE_PRICE']>100000) & (df_subset['SALE_PRICE']<2000000)]
df_subset

      BOROUGH NEIGHBORHOOD  ... SALE_PRICE   SALE_DATE
44          3        OTHER  ...     550000  01/01/2019
61          4        OTHER  ...     200000  01/01/2019
78          2        OTHER  ...     810000  01/02/2019
108         3        OTHER  ...     125000  01/02/2019
111         3        OTHER  ...     620000  01/02/2019
...       ...          ...  ...        ...         ...
23029       4        OTHER  ...     635000  04/30/2019
23031       4        OTHER  ...     514000  04/30/2019
23032       4        OTHER  ...     635000  04/30/2019
23033       4        OTHER  ...     545000  04/30/2019
23035       4        OTHER  ...     510000  04/30/2019

[3151 rows x 21 columns]

### Drop NAN Columns, and Check for na value

In [9]:
drops = ['EASE-MENT','APARTMENT_NUMBER']
df_subset = df_subset.drop(columns=drops)
df_subset.isna().sum()

BOROUGH                           0
NEIGHBORHOOD                      0
BUILDING_CLASS_CATEGORY           0
TAX_CLASS_AT_PRESENT              0
BLOCK                             0
LOT                               0
BUILDING_CLASS_AT_PRESENT         0
ADDRESS                           0
ZIP_CODE                          0
RESIDENTIAL_UNITS                 0
COMMERCIAL_UNITS                  0
TOTAL_UNITS                       0
LAND_SQUARE_FEET                  0
GROSS_SQUARE_FEET                 0
YEAR_BUILT                        0
TAX_CLASS_AT_TIME_OF_SALE         0
BUILDING_CLASS_AT_TIME_OF_SALE    0
SALE_PRICE                        0
SALE_DATE                         0
dtype: int64

### set sale_date to index and sort the index

In [10]:
df_subset['SALE_DATE'] = pd.to_datetime(df_subset['SALE_DATE'])
df_subset = df_subset.set_index(df_subset['SALE_DATE'])
df_subset = df_subset.sort_index()
df_subset

           BOROUGH NEIGHBORHOOD  ... SALE_PRICE  SALE_DATE
SALE_DATE                        ...
2019-01-01       3        OTHER  ...     550000 2019-01-01
2019-01-01       4        OTHER  ...     200000 2019-01-01
2019-01-02       2        OTHER  ...     810000 2019-01-02
2019-01-02       3        OTHER  ...     125000 2019-01-02
2019-01-02       3        OTHER  ...     620000 2019-01-02
...            ...          ...  ...        ...        ...
2019-04-30       4        OTHER  ...     635000 2019-04-30
2019-04-30       4        OTHER  ...     514000 2019-04-30
2019-04-30       4        OTHER  ...     635000 2019-04-30
2019-04-30       4        OTHER  ...     545000 2019-04-30
2019-04-30       4        OTHER  ...     510000 2019-04-30

[3151 rows x 19 columns]

In [11]:
df_subset.describe(exclude='number').nunique()

BOROUGH                           4
NEIGHBORHOOD                      4
BUILDING_CLASS_CATEGORY           3
TAX_CLASS_AT_PRESENT              4
BUILDING_CLASS_AT_PRESENT         4
ADDRESS                           4
LAND_SQUARE_FEET                  4
BUILDING_CLASS_AT_TIME_OF_SALE    4
SALE_DATE                         6
dtype: int64

### Filter them into a train, test split by index dates and set a one hot encoder

In [0]:
train = df_subset['2019-01-01':'2019-03-31']
test = df_subset['2019-04-01':'2019-04-30']

from sklearn.preprocessing import OneHotEncoder


features = ['BUILDING_CLASS_AT_TIME_OF_SALE','LAND_SQUARE_FEET','BUILDING_CLASS_AT_PRESENT','TAX_CLASS_AT_PRESENT','BUILDING_CLASS_CATEGORY','NEIGHBORHOOD','BOROUGH','TOTAL_UNITS','TAX_CLASS_AT_TIME_OF_SALE']
target = 'SALE_PRICE'
x_train = train[features]
y_train = train[target]
x_test = test[features]
y_test = test[target]


encoder = OneHotEncoder(handle_unknown='ignore')
x_train_enc = encoder.fit_transform(x_train)
x_test_enc = encoder.transform(x_test)

### Do SelectKbest, F_regression

In [13]:
from sklearn.feature_selection import SelectKBest, f_regression

selector = SelectKBest(score_func= f_regression)
x_train_kbest = selector.fit_transform(x_train_enc,y_train)
x_test_kbest = selector.transform(x_test_enc)
x_train_kbest.shape, x_test_kbest.shape

((2507, 10), (644, 10))

### Find Mean_absolute_error

In [14]:
from sklearn.linear_model import Ridge
from sklearn.metrics import mean_absolute_error
model = Ridge(alpha=.1,normalize=True)

model.fit(x_train_kbest,y_train)

# Get Test MAE
y_pred = model.predict(x_test_kbest)
mae = mean_absolute_error(y_test,y_pred)
print('Mean absolute error:',mae)

Mean absolute error: 197637.6712067183