<a href="https://colab.research.google.com/github/Henrymelendez/DS-Unit-2-Linear-Models/blob/master/module4-logistic-regression/LS_DS_214_assignment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Lambda School Data Science

*Unit 2, Sprint 1, Module 4*

---

# Logistic Regression


## Assignment ðŸŒ¯

You'll use a [**dataset of 400+ burrito reviews**](https://srcole.github.io/100burritos/). How accurately can you predict whether a burrito is rated 'Great'?

> We have developed a 10-dimensional system for rating the burritos in San Diego. ... Generate models for what makes a burrito great and investigate correlations in its dimensions.

- [ ] Do train/validate/test split. Train on reviews from 2016 & earlier. Validate on 2017. Test on 2018 & later.
- [ ] Begin with baselines for classification.
- [ ] Use scikit-learn for logistic regression.
- [ ] Get your model's validation accuracy. (Multiple times if you try multiple iterations.)
- [ ] Get your model's test accuracy. (One time, at the end.)
- [ ] Commit your notebook to your fork of the GitHub repo.


## Stretch Goals

- [ ] Add your own stretch goal(s) !
- [ ] Make exploratory visualizations.
- [ ] Do one-hot encoding.
- [ ] Do [feature scaling](https://scikit-learn.org/stable/modules/preprocessing.html).
- [ ] Get and plot your coefficients.
- [ ] Try [scikit-learn pipelines](https://scikit-learn.org/stable/modules/compose.html).

In [0]:
%%capture
import sys

# If you're on Colab:
if 'google.colab' in sys.modules:
    DATA_PATH = 'https://raw.githubusercontent.com/LambdaSchool/DS-Unit-2-Linear-Models/master/data/'
    !pip install category_encoders==2.*

# If you're working locally:
else:
    DATA_PATH = '../data/'

In [0]:
# Load data downloaded from https://srcole.github.io/100burritos/
import pandas as pd
df = pd.read_csv(DATA_PATH+'burritos/burritos.csv')

In [0]:
# Derive binary classification target:
# We define a 'Great' burrito as having an
# overall rating of 4 or higher, on a 5 point scale.
# Drop unrated burritos.
df = df.dropna(subset=['overall'])
df['Great'] = df['overall'] >= 4

In [0]:
# Clean/combine the Burrito categories
df['Burrito'] = df['Burrito'].str.lower()

california = df['Burrito'].str.contains('california')
asada = df['Burrito'].str.contains('asada')
surf = df['Burrito'].str.contains('surf')
carnitas = df['Burrito'].str.contains('carnitas')

df.loc[california, 'Burrito'] = 'California'
df.loc[asada, 'Burrito'] = 'Asada'
df.loc[surf, 'Burrito'] = 'Surf & Turf'
df.loc[carnitas, 'Burrito'] = 'Carnitas'
df.loc[~california & ~asada & ~surf & ~carnitas, 'Burrito'] = 'Other'

In [0]:
# Drop some high cardinality categoricals
df = df.drop(columns=['Notes', 'Location', 'Reviewer', 'Address', 'URL', 'Neighborhood'])

In [0]:
# Drop some columns to prevent "leakage"
df = df.drop(columns=['Rec', 'overall'])

In [275]:
df['Date'] = pd.to_datetime(df['Date'])
df = df.set_index(df['Date'])
df= df.sort_index()
df

               Burrito       Date  Yelp  Google  ... Avocado  Corn  Zucchini  Great
Date                                             ...
2011-05-16       Other 2011-05-16   NaN     NaN  ...     NaN   NaN       NaN  False
2015-04-20       Other 2015-04-20   NaN     NaN  ...     NaN   NaN       NaN   True
2016-01-18  California 2016-01-18   3.5     4.2  ...     NaN   NaN       NaN  False
2016-01-24       Asada 2016-01-24   NaN     NaN  ...     NaN   NaN       NaN  False
2016-01-24  California 2016-01-24   3.5     3.3  ...     NaN   NaN       NaN  False
...                ...        ...   ...     ...  ...     ...   ...       ...    ...
2019-08-27       Asada 2019-08-27   NaN     NaN  ...     NaN   NaN       NaN   True
2019-08-27       Other 2019-08-27   NaN     NaN  ...     NaN   NaN       NaN   True
2019-08-27       Other 2019-08-27   NaN     NaN  ...     NaN   NaN       NaN   True
2019-08-27       Other 2019-08-27   NaN     NaN  ...     NaN   NaN       NaN   True
2026-04-25  California 2026-04-25   NaN     NaN  ...     NaN   NaN       NaN   True

[421 rows x 59 columns]

In [276]:
df.shape

(421, 59)

In [277]:
df.isna().sum()

Burrito             0
Date                0
Yelp              334
Google            334
Chips             395
Cost                7
Hunger              3
Mass (g)          399
Density (g/mL)    399
Length            138
Circum            140
Volume            140
Tortilla            0
Temp               20
Meat               14
Fillings            3
Meat:filling        9
Uniformity          2
Salsa              25
Synergy             2
Wrap                3
Unreliable        388
NonSD             414
Beef              242
Pico              263
Guac              267
Cheese            262
Fries             294
Sour cream        329
Pork              370
Chicken           400
Shrimp            400
Fish              415
Rice              385
Beans             386
Lettuce           410
Tomato            414
Bell peper        414
Carrots           420
Cabbage           413
Sauce             383
Salsa.1           414
Cilantro          406
Onion             404
Taquito           417
Pineapple         414
Ham               419
Chile relleno     417
Nopales           417
Lobster           420
Queso             421
Egg               416
Mushroom          418
Bacon             418
Sushi             419
Avocado           408
Corn              418
Zucchini          420
Great               0
dtype: int64

In [278]:
dropped = {'Mass (g)', 'Density (g/mL)'}
df = df.drop(columns=dropped,axis=1)
df['Cost'].fillna((df['Cost'].mean()),inplace = True)

target = 'Great'
features = df.columns.drop([target]).to_list()
df

               Burrito       Date  Yelp  Google  ... Avocado  Corn  Zucchini  Great
Date                                             ...
2011-05-16       Other 2011-05-16   NaN     NaN  ...     NaN   NaN       NaN  False
2015-04-20       Other 2015-04-20   NaN     NaN  ...     NaN   NaN       NaN   True
2016-01-18  California 2016-01-18   3.5     4.2  ...     NaN   NaN       NaN  False
2016-01-24       Asada 2016-01-24   NaN     NaN  ...     NaN   NaN       NaN  False
2016-01-24  California 2016-01-24   3.5     3.3  ...     NaN   NaN       NaN  False
...                ...        ...   ...     ...  ...     ...   ...       ...    ...
2019-08-27       Asada 2019-08-27   NaN     NaN  ...     NaN   NaN       NaN   True
2019-08-27       Other 2019-08-27   NaN     NaN  ...     NaN   NaN       NaN   True
2019-08-27       Other 2019-08-27   NaN     NaN  ...     NaN   NaN       NaN   True
2019-08-27       Other 2019-08-27   NaN     NaN  ...     NaN   NaN       NaN   True
2026-04-25  California 2026-04-25   NaN     NaN  ...     NaN   NaN       NaN   True

[421 rows x 57 columns]

In [0]:
train = df['2011-05-16':'2016-12-31']
val = df['2017-01-01':'2017-12-31'] 
test = df['2018-01-01':'2019-12-31']

### Determine Majority Class

In [280]:
y_train = train[target]
y_train.value_counts(normalize=True)

False    0.590604
True     0.409396
Name: Great, dtype: float64

In [281]:
majority_class = y_train.mode()[0]
majority_class

False

In [0]:
y_train_pred = [majority_class]*len(y_train)

### Import sklearn logistics model

In [0]:
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score, mean_absolute_error

In [284]:
accuracy_score(y_train,y_train_pred)

0.5906040268456376

In [285]:
train.describe()

            Yelp     Google        Cost  ...     Synergy        Wrap  Queso
count  71.000000  71.000000  298.000000  ...  296.000000  296.000000    0.0
mean    3.897183   4.142254    6.900215  ...    3.540203    3.955068    NaN
std     0.478680   0.371738    1.199354  ...    0.922426    1.167341    NaN
min     2.500000   2.900000    2.990000  ...    1.000000    0.000000    NaN
25%     3.500000   4.000000    6.250000  ...    3.000000    3.500000    NaN
50%     4.000000   4.200000    6.890000  ...    3.750000    4.000000    NaN
75%     4.000000   4.400000    7.500000  ...    4.000000    5.000000    NaN
max     4.500000   4.900000   11.950000  ...    5.000000    5.000000    NaN

[8 rows x 17 columns]

In [286]:
train.describe(exclude='number')

           Burrito                 Date Chips  ... Corn Zucchini  Great
count          298                  298    22  ...    2        1    298
unique           5                  110     2  ...    2        1      2
top     California  2016-08-30 00:00:00     x  ...    X        x  False
freq           118                   29    19  ...    1        1    176
first          NaN  2011-05-16 00:00:00   NaN  ...  NaN      NaN    NaN
last           NaN  2016-12-15 00:00:00   NaN  ...  NaN      NaN    NaN

[6 rows x 40 columns]

In [287]:
test.corr()

                  Yelp    Google      Cost  ...      Wrap  Queso     Great
Yelp          1.000000 -0.500000 -0.939412  ... -1.000000    NaN -1.000000
Google       -0.500000  1.000000  0.172841  ...  0.500000    NaN  0.500000
Cost         -0.939412  0.172841  1.000000  ...  0.057251    NaN -0.042390
Hunger       -0.576557  0.995871  0.310140  ... -0.032844    NaN  0.117829
Length             NaN       NaN  0.351430  ... -0.315029    NaN  0.132879
Circum             NaN       NaN  0.007188  ... -0.154203    NaN  0.238709
Volume             NaN       NaN  0.229603  ... -0.319330    NaN  0.261952
Tortilla     -0.802955  0.917663  0.338740  ...  0.185966    NaN  0.330136
Temp          0.500000  0.500000 -0.280374  ... -0.116823    NaN  0.296744
Meat         -0.944911  0.755929 -0.226912  ...  0.031791    NaN  0.486026
Fillings     -0.944911  0.755929  0.090073  ...  0.059998    NaN  0.241802
Meat:filling -0.359211  0.987829 -0.221193  ...  0.008876    NaN  0.390774
Uniformity   -0.917663  0.802955  0.082553  ...  0.206794    NaN  0.477537
Salsa        -0.500000 -0.500000  0.104101  ...  0.268476    NaN  0.309914
Synergy      -0.866025  0.866025  0.006595  ...  0.177449    NaN  0.569466
Wrap         -1.000000  0.500000  0.057251  ...  1.000000    NaN  0.060128
Queso              NaN       NaN       NaN  ...       NaN    NaN       NaN
Great        -1.000000  0.500000 -0.042390  ...  0.060128    NaN  1.000000

[18 rows x 18 columns]

In [0]:
features = ['Meat','Uniformity','Synergy','Meat:filling']
x_train = train[features]
x_val = val[features]
y_val= val[target]

from sklearn.impute import SimpleImputer
imputer = SimpleImputer()
x_train_imputed = imputer.fit_transform(x_train)
x_val_imputed = imputer.transform(x_val)

In [289]:
from sklearn.linear_model import LogisticRegression
logistic_reg = LogisticRegression(solver='lbfgs')
logistic_reg.fit(x_train_imputed,y_train)
y_pred = logistic_reg.predict(x_val_imputed)
print(f'Validation accuracy: {accuracy_score(y_val, y_pred)}')

Validation accuracy: 0.8823529411764706